<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/code.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Eduardo Code</title>
</head>

<body>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/eduardo.jpg" alt="foto Eduardo">
            <h1>Eduardo F. Lovo</h1>
            <div class="social-links">
                <a href="http://https://www.linkedin.com/in/eduardo-felipe-lovo-475019214/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a href="https://github.com/EduardoLovo" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                </a>

                <a href="https://www.instagram.com/eduardo.llovo/?hl=pt-br target=" _blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>

        </section>
    </aside>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>